{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h2 class="text-center mt-2">Тема:</h2>
    <div class="container mt-3">
        <div class="pt-2 pb-2 border-top border-bottom d-flex justify-content-around text-black">
            <div>{{ topic.summary }}</div>
            <div>{{ topic.create_date }}</div>
            <div>{{ topic.author.username }}</div>
        </div>
        <div class="mt-2 card">
            <div class="card-body">
                <p class="card-text">{{ topic.description }}</p>
                {% if user.is_authenticated %}
                    {% if perms.topics.change_topics or user == topic.author %}
                        <a href="{% url 'topics:update' topic.id %}" class="btn btn-primary">Изменить тему</a>
                    {% endif %}
                    {% if perms.topics.delete_topics or user == topic.author %}
                        <a href="{% url 'topics:delete' topic.id %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="mt-2 card">
                <div class="card-body">
                    {% include 'partials/form.html' with fields_only=True button_text="Создать" topic_pk=topic.pk %}
                </div>
            </div>
        {% endif %}

        {% for comment in comments %}
            {% if comment.topic.id == topic.pk %}
                <div class="mt-3 d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                         src="{{ comment.comment_author.avatar.url }}" alt="avatar" width="65"
                         height="65"/>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    <a href="{% url 'accounts:profile' comment.comment_author.pk %}">
                                        {{ comment.comment_author.username }}
                                        (ответов: {{ comment.comment_author.get_total_comment }})</a>
                                    <span class="small">- {{ comment.create_date }}</span>
                                </p>
                            </div>
                            <p class="small mb-0">
                                {{ comment.summary }}
                            </p>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        {% if perms.comments.change_comments or user == comment.comment_author %}
                            <a href="{% url 'comments:update' comment.id %}" class="btn btn-primary">Изменить
                                комментарий</a>
                        {% endif %}
                        {% if perms.comments.delete_comments or user == comment.comment_author %}
                            <a href="{% url 'comments:delete' comment.id %}" class="btn btn-danger">Удалить</a>
                        {% endif %}
                    {% endif %}
                </div>

            {% endif %}
        {% empty %}
            <span>Создайте комментарий</span>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partials/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}